@import "tailwindcss";
@plugin "daisyui"{  themes: all;};
@font-face {
  font-family: Asimovian;
  src: url(./assets/fonts/Asimovian-Regular.ttf);
  font-weight: 400;
}
:root {
   --color-background:#F3F2F2;
  --text-color: #111;
   --spacing: 4px;
  --font-body: Inter, sans-serif;
}

html.dark {
  --spacing: 4px;
  --font-body: Inter, sans-serif;
  --color-background:#150530;
  --text-color: #fff;
}

body {
  background-color: var(--color-background);
  color: var(--text-color);
    margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-family: 'Asimovian';
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
